/* ion-content {
	--background: rgb(2, 0, 36);
	--background: linear-gradient(
		170deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(25, 36, 101, 1) 31%,
		rgba(32, 49, 116, 0.938813025210084) 55%,
		rgba(34, 48, 101, 1) 65%,
		rgba(39, 47, 67, 1) 87%,
		rgba(39, 47, 67, 1) 87%,
		rgba(42, 46, 47, 1) 100%
	);
	--color: white;
}

ion-button {
    --background: white;
    --color: #281e20;
    --box-shadow: -3px 2px 4px -1px #000000;
    --padding-start: auto;
    --padding-end: auto;
    --padding-top: 1rem;
    --padding-bottom: 1rem;
} */