:root {
	--ion-toolbar-background: var(--ion-color-primary);
	--ion-toolbar-color: var(--ion-color-primary-contrast);
	--ion-tab-bar-background: var(--ion-color-dark);
	--ion-tab-bar-color-selected: var(--ion-color-medium-contrast);
}

ion-avatar {
	width: 100%;
	height: auto;
}

.PhoneInputInput {
	border: 0;
	border-bottom: 2px solid var(--ion-color-primary);
	outline: none;
	width: 100%;
}

ion-slides {
	--bullet-background: #ccc !important;
	--bullet-background-active: #5d5d5d !important;
	--progress-bar-background: black;
}
